@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.container {
    width: 900;
    margin: 0 auto;
}

header {
    padding: 40px 0;
}

 header nav {
    float:inline-start;
    width:  78%;
 }

 header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
 }

 header nav ul li {
    display: inline-block;

 }
 
 header nav ul li a{
    color: rgb(28, 31, 31);
 }

 header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #60646D;
 }
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    background-color: #8ac571;
}
.menu {
    background-color: #cdd4a7;
}
.contacts {
    background-color: #7CEECE;
}
.portfolio {
    background-color: #A0B58D;
}
.wrapper {
    position: relative;
    overflow-x: hidden;
}
.header__btn{
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: black;
    display: none;
}

.menu{
    position: fixed;
    left: 0;top: 0;
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: 1s;
    transform: translateX(-100%);

}

.menu-acitve {
    transform: translateX(0%);
}
.menu-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    flex-direction: column;
}
.menu-list a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
}

